
<main class="main-content position-relative max-height-vh-100 h-100 border-radius-lg ">

<div class="container-fluid py-4">
  <div class="row">
    <div class="col-12">
      <div class="card my-4">
        <div class="card-header p-0 position-relative mt-n4 mx-3 z-index-2">
          <div class="bg-gradient-primary shadow-primary border-radius-lg pt-4 pb-3">
            <h6 class="text-white text-capitalize ps-3">
            Agent List
            </h6>

          </div>
        </div>
        <div class="card-body px-0 pb-2">
          <div class="table-responsive p-0">
            <table class="table align-items-center mb-0">
              <thead>
                <tr>
                  <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Agent</th>
                  <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2">Function</th>
                  <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Status</th>
                  <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Employed</th>
                  <th class="text-secondary opacity-7"></th>
                  <th><a [routerLink]="['add-user']" class="btn btn-primary add-button ml-3" style="color: pink;">
                    <i class="fas fa-plus" style="color: pink;"></i>
                  </a></th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let agent of agents">
                  <td>
                    <div class="d-flex px-2 py-1">
                      <!-- <div>
                        <img src="../assets/img/team-2.jpg" class="avatar avatar-sm me-3 border-radius-lg" alt="user1">
                      </div> -->
                      <div class="d-flex flex-column justify-content-center">
                        <h6 class="mb-0 text-sm">{{ agent.name }}</h6>
                        <p class="text-xs text-secondary mb-0">{{ agent.email }}</p>
                      </div>
                    </div>
                  </td>
                  <td>
                    <p class="text-xs font-weight-bold mb-0">{{ agent.function }}</p>
                    <p class="text-xs text-secondary mb-0">{{ agent.phone }}</p>
                  </td>
                  <td class="align-middle text-center text-sm">
                    <span class="badge badge-sm bg-gradient-success">{{ agent.status }}</span>
                  </td>
                  <td class="align-middle text-center">
                    <span class="text-secondary text-xs font-weight-bold">{{ agent.employed | date }}</span>
                  </td>
                  <td class="align-middle">
                    <!-- <a href="javascript:;" class="text-secondary font-weight-bold text-xs" data-toggle="tooltip" data-original-title="Edit user" [routerLink]="['edit-user',agent.id]">
                      Edit
                    </a> -->
                    <div class="ms-auto text-end">
                     <a class="btn btn-link text-danger text-gradient px-3 mb-0" (click)="OpenModal(exampleModalCenter)"><i class="material-icons text-sm me-2">delete</i>Delete</a>
                     <ng-template #exampleModalCenter>
                      <app-modal [agentid]="agent.id" (hideModal)= "closeModal()" (agents)="reloadAgents($event)"></app-modal>
                    </ng-template>
                      <a class="btn btn-link text-dark px-3 mb-0"  [routerLink]="['edit-user',agent.id]"><i class="material-icons text-sm me-2">edit</i>Edit</a>
                    </div>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>



</div>
</main>

