<!-- Modal  -->
<div id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">warning!</h5>
        <button type="button"  class="close" data-dismiss="modal" aria-label="Close"  (click)="closeModal()">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        You are attempting to delete an item
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="closeModal()">Close</button>
        <button type="button" name="bookId" class="btn btn-primary"  (click)="deleteAgent(agentid)">Delete</button>
      </div>
    </div>
  </div>
</div>
